.poppins{
  font-family: "Poppins", sans-serif;
}

.hind-siliguri{
  font-family: "Hind Siliguri", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.active{
    background-color: #15803d;
    color: white;
}